{
  "Entries": [
    {
      "RequestUri": "/providers/Microsoft.Authorization/policySetDefinitions?api-version=2018-05-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-tenant-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"properties\": {\r\n        \"displayName\": \"Audit Windows VMs in which the Administrators group does not contain only the specified members\",\r\n        \"policyType\": \"BuiltIn\",\r\n        \"description\": \"This initiative deploys the policy requirements and audits Windows virtual machines in which the Administrators group does not contain only the specified members. For more information on Guest Configuration policies, please visit https://aka.ms/gcpol\",\r\n        \"metadata\": {\r\n          \"category\": \"Guest Configuration\"\r\n        },\r\n        \"parameters\": {\r\n          \"Members\": {\r\n            \"type\": \"String\",\r\n            \"metadata\": {\r\n              \"displayName\": \"Members\",\r\n              \"description\": \"A semicolon-separated list of all the expected members of the Administrators local group. Ex: Administrator; myUser1; myUser2\"\r\n            }\r\n          }\r\n        },\r\n        \"policyDefinitions\": [\r\n          {\r\n            \"policyDefinitionReferenceId\": \"Deploy_AdministratorsGroupMembers\",\r\n            \"policyDefinitionId\": \"/providers/Microsoft.Authorization/policyDefinitions/b821191b-3a12-44bc-9c38-212138a29ff3\",\r\n            \"parameters\": {\r\n              \"Members\": {\r\n                \"value\": \"[parameters('Members')]\"\r\n              }\r\n            }\r\n          },\r\n          {\r\n            \"policyDefinitionReferenceId\": \"Audit_AdministratorsGroupMembers\",\r\n            \"policyDefinitionId\": \"/providers/Microsoft.Authorization/policyDefinitions/cc7cda28-f867-4311-8497-a526129a8d19\"\r\n          }\r\n        ]\r\n      },\r\n      \"id\": \"/providers/Microsoft.Authorization/policySetDefinitions/06122b01-688c-42a8-af2e-fa97dd39aa3b\",\r\n      \"type\": \"Microsoft.Authorization/policySetDefinitions\",\r\n      \"name\": \"06122b01-688c-42a8-af2e-fa97dd39aa3b\"\r\n    },\r\n    {\r\n      \"properties\": {\r\n        \"displayName\": \"[Preview]: Audit Windows VMs on which the Log Analytics agent is not connected as expected\",\r\n        \"policyType\": \"BuiltIn\",\r\n        \"description\": \"This initiative deploys the policy requirements and audits Windows virtual machines on which the Log Analytics agent is not connected to the specified workspaces. For more information on Guest Configuration policies, please visit https://aka.ms/gcpol\",\r\n        \"metadata\": {\r\n          \"category\": \"Guest Configuration\"\r\n        },\r\n        \"parameters\": {\r\n          \"WorkspaceId\": {\r\n            \"type\": \"String\",\r\n            \"metadata\": {\r\n              \"displayName\": \"Connected workspace IDs\",\r\n              \"description\": \"A semicolon-separated list of the workspace IDs that the Log Analytics agent should be connected to\"\r\n            }\r\n          }\r\n        },\r\n        \"policyDefinitions\": [\r\n          {\r\n            \"policyDefinitionReferenceId\": \"Deploy_WindowsLogAnalyticsAgentConnection\",\r\n            \"policyDefinitionId\[...]
    {
      "RequestUri": "/providers/Microsoft.Authorization/policySetDefinitions/06122b01-688c-42a8-af2e-fa97dd39aa3b?api-version=2018-05-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-tenant-reads": [
          "11998"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"displayName\[...]
    {
      "RequestUri": "/providers/Microsoft.Authorization/policyDefinitions/b821191b-3a12-44bc-9c38-212138a29ff3?api-version=2018-05-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-tenant-reads": [
          "11997"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"displayName\": \"Deploy requirements to audit Windows VMs in which the Administrators group does not contain only the specified members\",\r\n    \"policyType\": \"BuiltIn\",\r\n    \"mode\": \"Indexed\",\r\n    \"description\": \"This policy creates a Guest Configuration assignment to audit Windows virtual machines in which the Administrators group does not contain only the specified members. It also creates a system-assigned managed identity and deploys the VM extension for Guest Configuration. This policy should only be used along with its corresponding audit policy in an initiative. For more information on Guest Configuration policies, please visit https://aka.ms/gcpol\",\r\n    \"metadata\": {\r\n      \"category\": \"Guest Configuration\",\r\n      \"requiredProviders\": [\r\n        \"Microsoft.GuestConfiguration\"\r\n      ]\r\n    },\r\n    \"parameters\": {\r\n      \"Members\": {\r\n        \"type\": \"String\",\r\n        \"metadata\": {\r\n          \"displayName\": \"Members\",\r\n          \"description\": \"A semicolon-separated list of all the expected members of the Administrators local group. Ex: Administrator; myUser1; myUser2\"\r\n        }\r\n      }\r\n    },\r\n    \"policyRule\": {\r\n      \"if\": {\r\n        \"allOf\": [\r\n          {\r\n            \"field\": \"type\",\r\n            \"equals\": \"Microsoft.Compute/virtualMachines\"\r\n          },\r\n          {\r\n            \"anyOf\": [\r\n              {\r\n                \"field\": \"Microsoft.Compute/imagePublisher\",\r\n                \"in\": [\r\n                  \"esri\",\r\n                  \"incredibuild\",\r\n                  \"MicrosoftDynamicsAX\",\r\n                  \"MicrosoftSharepoint\",\r\n                  \"MicrosoftVisualStudio\",\r\n                  \"MicrosoftWindowsDesktop\",\r\n                  \"MicrosoftWindowsServerHPCPack\"\r\n                ]\r\n              },\r\n              {\r\n                \"allOf\": [\r\n                  {\r\n                    \"field\": \"Microsoft.Compute/imagePublisher\",\r\n                    \"equals\": \"MicrosoftWindowsServer\"\r\n                  },\r\n                  {\r\n                    \"field\": \"Microsoft.Compute/imageSKU\",\r\n                    \"notLike\": \"2008*\"\r\n                  }\r\n                ]\r\n              },\r\n              {\r\n                \"allOf\": [\r\n                  {\r\n                    \"field\": \"Microsoft.Compute/imagePublisher\",\r\n                    \"equals\": \"MicrosoftSQLServer\"\r\n                  },\r\n                  {\r\n                    \"field\": \"Microsoft.Compute/imageSKU\",\r\n                    \"notEquals\": \"SQL2008R2SP3-WS2008R2SP1\"\r\n                  }\r\n                ]\r\n              },\r\n              {\r\n                \"allOf\": [\r\n                  {\r\n                    \"field\": \"Microsoft.Compute/imagePublisher\",\r\n                    \"equals\": \"microsoft-dsvm\"\r\n                  },\r\n                  {\r\n                    \"field\": \"Microsoft.Compute/imageOffer\",\r\n                    \"equals\": \"dsvm-windows\"\r\n                  }\r\n             [...]
[...]
    {
      "RequestUri": "/providers/Microsoft.Authorization/policySetDefinitions/133046de-0bd7-4546-93f4-f452e9e258b7?api-version=2018-05-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-tenant-reads": [
          "11992"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"displayName\": \"Audit Windows VMs in which the Administrators group does not contain all of the specified members\",\r\n    \"policyType\": \"BuiltIn\",\r\n    \"description\": \"This initiative deploys the policy requirements and audits Windows virtual machines in which the Administrators group does not contain all of the specified members. For more information on Guest Configuration policies, please visit https://aka.ms/gcpol\",\r\n    \"metadata\": {\r\n      \"category\": \"Guest Configuration\"\r\n    },\r\n    \"parameters\": {\r\n      \"MembersToInclude\": {\r\n        \"type\": \"String\",\r\n        \"metadata\": {\r\n          \"displayName\": \"Members to include\",\r\n          \"description\": \"A semicolon-separated list of members that should be included in the Administrators local group. Ex: Administrator; myUser1; myUser2\"\r\n        }\r\n      }\r\n    },\r\n    \"policyDefinitions\": [\r\n      {\r\n        \"policyDefinitionReferenceId\": \"Deploy_AdministratorsGroupMembersToInclude\",\r\n        \"policyDefinitionId\": \"/providers/Microsoft.Authorization/policyDefinitions/93507a81-10a4-4af0-9ee2-34cf25a96e98\",\r\n        \"parameters\": {\r\n          \"MembersToInclude\": {\r\n            \"value\": \"[parameters('MembersToInclude')]\"\r\n          }\r\n        }\r\n      },\r\n      {\r\n        \"policyDefinitionReferenceId\": \"Audit_AdministratorsGroupMembersToInclude\",\r\n        \"policyDefinitionId\": \"/providers/Microsoft.Authorization/policyDefinitions/f3b44e5d-1456-475f-9c67-c66c4618e85a\"\r\n      }\r\n    ]\r\n  },\r\n  \"id\": \"/providers/Microsoft.Authorization/policySetDefinitions/133046de-0bd7-4546-93f4-f452e9e258b7\",\r\n  \"type\": \"Microsoft.Authorization/policySetDefinitions\",\r\n  \"name\": \"133046de-0bd7-4546-93f4-f452e9e258b7\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/providers/Microsoft.Authorization/policySetDefinitions/1f3afdf9-d0c9-4c3d-847f-89da613e70a8?api-version=2018-05-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-tenant-reads": [
          "11989"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"displayName\": \"[Preview]: Enable Monitoring in Azure Security Center\",\r\n    \"policyType\": \"BuiltIn\",\r\n    \"description\": \"Monitor all the available security recommendations in Azure Security Center. This is the default policy for Azure Security Center.\",\r\n    \"metadata\": {\r\n      \"category\": \"Security Center\"\r\n    },\r\n    \"parameters\": {\r\n      \"vmssSystemUpdatesMonitoringEffect\": {\r\n        \"type\": \"String\",\r\n        \"metadata\": {\r\n          \"displayName\": \"Monitor virtual machine scale sets system updates\",\r\n          \"description\": \"Enable or disable virtual machine scale sets reporting of system updates\"\r\n        },\r\n        \"allowedValues\": [\r\n          \"AuditIfNotExists\",\r\n          \"Disabled\"\r\n        ],\r\n        \"defaultValue\": \"AuditIfNotExists\"\r\n      },\r\n      \"vmssEndpointProtectionMonitoringEffect\": {\r\n        \"type\": \"String\",\r\n        \"metadata\": {\r\n          \"displayName\": \"Monitor virtual machine scale sets endpoint protection\",\r\n          \"description\": \"Enable or disable virtual machine scale sets endpoint protection monitoring\"\r\n        },\r\n        \"allowedValues\": [\r\n          \"AuditIfNotExists\",\r\n          \"Disabled\"\r\n        ],\r\n        \"defaultValue\": \"AuditIfNotExists\"\r\n      },\r\n      \"vmssOsVulnerabilitiesMonitoringEffect\": {\r\n        \"type\": \"String\",\r\n        \"metadata\": {\r\n          \"displayName\": \"Monitor virtual machine scale sets OS vulnerabilities\",\r\n          \"description\": \"Enable or disable virtual machine scale sets OS vulnerabilities monitoring\"\r\n        },\r\n        \"allowedValues\": [\r\n          \"AuditIfNotExists\",\r\n          \"Disabled\"\r\n        ],\r\n        \"defaultValue\": \"AuditIfNotExists\"\r\n      },\r\n      \"systemUpdatesMonitoringEffect\": {\r\n        \"type\": \"String\",\r\n        \"metadata\": {\r\n          \"displayName\": \"Monitor system updates\",\r\n          \"description\": \"Enable or disable reporting of system updates\"\r\n        },\r\n        \"allowedValues\": [\r\n          \"AuditIfNotExists\",\r\n          \"Disabled\"\r\n        ],\r\n        \"defaultValue\": \"AuditIfNotExists\"\r\n      },\r\n      \"systemConfigurationsMonitoringEffect\": {\r\n        \"type\": \"String\",\r\n        \"metadata\": {\r\n          \"displayName\": \"Monitor OS vulnerabilities\",\r\n          \"description\": \"Enable or disable OS vulnerabilities monitoring (based on a configured baseline)\"\r\n        },\r\n        \"allowedValues\": [\r\n          \"AuditIfNotExists\",\r\n          \"Disabled\"\r\n        ],\r\n        \"defaultValue\": \"AuditIfNotExists\"\r\n      },\r\n      \"endpointProtectionMonitoringEffect\": {\r\n        \"type\": \"String\",\r\n        \"metadata\": {\r\n          \"displayName\": \"Monitor endpoint protection\",\r\n          \"description\": \"Enable or disable endpoint protection monitoring\"\r\n        },\r\n        \"allowedValues\": [\r\n          \"AuditIfNotExists\",\r\n          \"Disabled\"\r\n        ],\r\n        \"defaultValue\": \"AuditIfNotExists\"\r\n      },\r\n      \"diskEncryptionMonitoringEffect\": {\r\n        \"type\": \"String\",\r\n        \"metadata\": {\r\n          \"displayName\": \"Monitor disk encryption\",\r\n          \"description\": \"Enable or disable the monitoring for VM disk encryption\"\r\n        },\r\n        \"allowedValues\": [\r\n          \"AuditIfNotExists\",\r\n          \"Disabled\"\r\n        ],\r\n        \"defaultValue\": \"AuditIfNotExists\"\r\n      },\r\n      \"networkSecurityGroupsMonitoringEffect\": {\r\n        \"type\": \"String\",\r\n        \"metadata\": {\r\n          \"displayName\": \"Monitor network security groups\",\r\n          \"description\": \"[Deprecated] Enable or disable monitoring of network security groups with permissive rules\",\r\n          \"deprecated\": true\r\n        },\r\n        \"allowedValues\": [\r\n          \"AuditIfNotExists\",\r\n          \"Disabled\"\r\n        ],\r\n        \"defaultValue\": \"Disabled\"\r\n      },\r\n      \"networkSecurityGroupsOnSubnetsMonitoringEffect\": {\r\n        \"type\": \"String\",\r\n        \"metadata\": {\r\n          \"displayName\": \"Network Security Groups on the subnet level should be enabled\",\r\n          \"description\": \"Enable or disable monitoring of NSGs on subnets\"\r\n        },\r\n        \"allowedValues\": [\r\n          \"AuditIfNotExists\",\r\n          \"Disabled\"\r\n        ],\r\n        \"defaultValue\": \"Disabled\"\r\n      },\r\n      \"networkSecurityGroupsOnVirtualMachinesMonitoringEffect\": {\r\n        \"type\": \"String\",\r\n        \"metadata\": {\r\n          \"displayName\": \"Network Security Groups for virtual machines should be enabled\",\r\n          \"description\": \"Enable or disable monitoring of NSGs on VMs\"\r\n        },\r\n        \"allowedValues\": [\r\n          \"AuditIfNotExists\",\r\n          \"Disabled\"\r\n        ],\r\n        \"defaultValue\": \"AuditIfNotExists\"\r\n      },\r\n      \"webApplicationFirewallMonitoringEffect\": {\r\n        \"type\": \"String\",\r\n        \"metadata\": {\r\n          \"displayName\": \"Monitor web application NSG\",\r\n          \"description\": \"Enable or disable the monitoring of unprotected web applications\"\r\n        },\r\n        \"allowedValues\": [\r\n          \"AuditIfNotExists\",\r\n          \"Disabled\"\r\n        ],\r\n        \"defaultValue\": \"AuditIfNotExists\"\r\n      },\r\n      \"nextGenerationFirewallMonitoringEffect\": {\r\n        \"type\": \"String\",\r\n        \"metadata\": {\r\n          \"displayName\": \"Monitor permissive network access of Internet facing VMs in Azure Security Center\",\r\n          \"description\": \"Enable or disable overly permissive inbound NSG rules monitoring\"\r\n        },\r\n        \"allowedValues\": [\r\n          \"AuditIfNotExists\",\r\n          \"Disabled\"\r\n        ],\r\n        \"defaultValue\": \"AuditIfNotExists\"\r\n      },\r\n      \"vulnerabilityAssesmentMonitoringEffect\": {\r\n        \"type\": \"String\",\r\n        \"metadata\": {\r\n          \"displayName\": \"Monitor vulnerability assessment\",\r\n          \"description\": \"Enable or disable the detection of VM vulnerabilities by a vulnerability assessment solution\"\r\n        },\r\n        \"allowedValues\": [\r\n          \"AuditIfNotExists\",\r\n          \"Disabled\"\r\n        ],\r\n        \"defaultValue\": \"AuditIfNotExists\"\r\n      },\r\n      \"storageEncryptionMonitoringEffect\": {\r\n        \"type\": \"String\",\r\n        \"metadata\": {\r\n          \"displayName\": \"Monitor storage blob encryption\",\r\n          \"description\": \"Enable or disable the monitoring of blob encryption for storage accounts\"\r\n        },\r\n        \"allowedValues\": [\r\n          \"Audit\",\r\n          \"Disabled\"\r\n        ],\r\n        \"defaultValue\": \"Audit\"\r\n      },\r\n      \"jitNetworkAccessMonitoringEffect\": {\r\n        \"type\": \"String\",\r\n        \"metadata\": {\r\n          \"displayName\": \"Monitor JIT network access\",\r\n          \"description\": \"Enable or disable the monitoring of network just In time access\"\r\n        },\r\n        \"allowedValues\": [\r\n          \"AuditIfNotExists\",\r\n          \"Disabled\"\r\n        ],\r\n        \"defaultValue\": \"AuditIfNotExists\"\r\n      },\r\n      \"adaptiveApplicationControlsMonitoringEffect\": {\r\n        \"type\": \"String\",\r\n        \"metadata\": {\r\n          \"displayName\": \"Monitor application whitelisting\",\r\n          \"description\": \"Enable or disable the monitoring of application whitelisting in Azure Security Center\"\r\n        },\r\n        \"allowedValues\": [\r\n          \"AuditIfNotExists\",\r\n          \"Disabled\"\r\n        ],\r\n        \"defaultValue\": \"AuditIfNotExists\"\r\n      },\r\n      \"sqlAuditingMonitoringEffect\": {\r\n        \"type\": \"String\",\r\n        \"metadata\": {\r\n          \"displayName\": \"Monitor SQL auditing\",\r\n          \"description\": \"Enable or disable the monitoring of unaudited SQL databases\"\r\n        },\r\n        \"allowedValues\": [\r\n          \"AuditIfNotExists\",\r\n          \"Disabled\"\r\n        ],\r\n        \"defaultValue\": \"AuditIfNotExists\"\r\n      },\r\n      \"sqlEncryptionMonitoringEffect\": {\r\n        \"type\": \"String\",\r\n        \"metadata\": {\r\n          \"displayName\": \"Monitor SQL encryption\",\r\n          \"description\": \"Enable or disable the monitoring of unencrypted SQL databases\"\r\n        },\r\n        \"allowedValues\": [\r\n          \"AuditIfNotExists\",\r\n          \"Disabled\"\r\n        ],\r\n        \"defaultValue\": \"AuditIfNotExists\"\r\n      },\r\n      \"sqlDbEncryptionMonitoringEffect\": {\r\n        \"type\": \"String\",\r\n        \"metadata\": {\r\n          \"displayName\": \"Monitor SQL encryption\",\r\n          \"description\": \"Enable or disable the monitoring of unencrypted SQL databases\"\r\n        },\r\n        \"allowedValues\": [\r\n          \"AuditIfNotExists\",\r\n          \"Disabled\"\r\n        ],\r\n        \"defaultValue\": \"AuditIfNotExists\"\r\n      },\r\n      \"sqlServerAuditingMonitoringEffect\": {\r\n        \"type\": \"String\",\r\n        \"metadata\": {\r\n          \"displayName\": \"Monitor SQL Servers auditing\",\r\n          \"description\": \"Enable or disable the monitoring of unaudited SQL Servers\"\r\n        },\r\n        \"allowedValues\": [\r\n          \"AuditIfNotExists\",\r\n          \"Disabled\"\r\n        ],\r\n        \"defaultValue\": \"AuditIfNotExists\"\r\n      },\r\n      \"sqlServerAuditingActionsAndGroupsMonitoringEffect\": {\r\n        \"type\": \"String\",[...]
    {
      "RequestUri": "/providers/Microsoft.Authorization/policyDefinitions/3c735d8a-a4ba-4a3a-b7cf-db7754cf57f4?api-version=2018-05-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-tenant-reads": [
          "11988"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"displayName\": \"Audit OS vulnerabilities on your virtual machine scale sets in Azure Security Center\",\r\n    \"policyType\": \"BuiltIn\",\r\n    \"mode\": \"Indexed\",\r\n    \"description\": \"Audit the OS vulnerabilities on your virtual machine scale sets to protect them from attacks.\",\r\n    \"metadata\": {\r\n      \"category\": \"Security Center\"\r\n    },\r\n    \"parameters\": {\r\n      \"effect\": {\r\n        \"type\": \"String\",\r\n        \"metadata\": {\r\n          \"displayName\": \"Effect\",\r\n          \"description\": \"Enable or disable the execution of the policy\"\r\n        },\r\n        \"allowedValues\": [\r\n          \"AuditIfNotExists\",\r\n          \"Disabled\"\r\n        ],\r\n        \"defaultValue\": \"AuditIfNotExists\"\r\n      }\r\n    },\r\n    \"policyRule\": {\r\n      \"if\": {\r\n        \"field\": \"type\",\r\n        \"equals\": \"Microsoft.Compute/virtualMachineScaleSets\"\r\n      },\r\n      \"then\": {\r\n        \"effect\": \"[parameters('effect')]\",\r\n        \"details\": {\r\n          \"type\": \"Microsoft.Security/complianceResults\",\r\n          \"name\": \"OsVulnerabilities\",\r\n          \"existenceCondition\": {\r\n            \"field\": \"Microsoft.Security/complianceResults/resourceStatus\",\r\n            \"in\": [\r\n              \"NotApplicable\",\r\n              \"OffByPolicy\",\r\n              \"Healthy\"\r\n            ]\r\n          }\r\n        }\r\n      }\r\n    }\r\n  },\r\n  \"id\": \"/providers/Microsoft.Authorization/policyDefinitions/3c735d8a-a4ba-4a3a-b7cf-db7754cf57f4\",\r\n  \"type\": \"Microsoft.Authorization/policyDefinitions\",\r\n  \"name\": \"3c735d8a-a4ba-4a3a-b7cf-db7754cf57f4\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/providers/Microsoft.Authorization/policyDefinitions/383856f8-de7f-44a2-81fc-e5135b5c2aa4?api-version=2018-05-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-tenant-reads": [
          "11985"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"displayName\": \"Audit enabling of diagnostic logs in IoT Hubs\",\r\n    \"policyType\": \"BuiltIn\",\r\n    \"mode\": \"Indexed\",\r\n    \"description\": \"Audit enabling of diagnostic logs. This enables you to recreate activity trails to use for investigation purposes; when a security incident occurs or when your network is compromised\",\r\n    \"metadata\": {\r\n      \"category\": \"Internet of Things\"\r\n    },\r\n    \"parameters\": {\r\n      \"effect\": {\r\n        \"type\": \"String\",\r\n        \"metadata\": {\r\n          \"displayName\": \"Effect\",\r\n          \"description\": \"Enable or disable the execution of the policy\"\r\n        },\r\n        \"allowedValues\": [\r\n          \"AuditIfNotExists\",\r\n          \"Disabled\"\r\n        ],\r\n        \"defaultValue\": \"AuditIfNotExists\"\r\n      },\r\n      \"requiredRetentionDays\": {\r\n        \"type\": \"String\",\r\n        \"metadata\": {\r\n          \"displayName\": \"Required retention (days)\",\r\n          \"description\": \"The required diagnostic logs retention in days\"\r\n        },\r\n        \"defaultValue\": \"365\"\r\n      }\r\n    },\r\n    \"policyRule\": {\r\n      \"if\": {\r\n        \"field\": \"type\",\r\n        \"equals\": \"Microsoft.Devices/IotHubs\"\r\n      },\r\n      \"then\": {\r\n        \"effect\": \"[parameters('effect')]\",\r\n        \"details\": {\r\n          \"type\": \"Microsoft.Insights/diagnosticSettings\",\r\n          \"existenceCondition\": {\r\n            \"anyOf\": [\r\n              {\r\n                \"allOf\": [\r\n                  {\r\n                    \"field\": \"Microsoft.Insights/diagnosticSettings/logs[*].retentionPolicy.enabled\",\r\n                    \"equals\": \"true\"\r\n                  },\r\n                  {\r\n                    \"field\": \"Microsoft.Insights/diagnosticSettings/logs[*].retentionPolicy.days\",\r\n                    \"equals\": \"[parameters('requiredRetentionDays')]\"\r\n                  },\r\n                  {\r\n                    \"field\": \"Microsoft.Insights/diagnosticSettings/logs.enabled\",\r\n                    \"equals\": \"true\"\r\n                  }\r\n                ]\r\n              },\r\n              {\r\n                \"allOf\": [\r\n                  {\r\n                    \"not\": {\r\n                      \"field\": \"Microsoft.Insights/diagnosticSettings/logs[*].retentionPolicy.enabled\",\r\n                      \"equals\": \"true\"\r\n                    }\r\n                  },\r\n                  {\r\n                    \"field\": \"Microsoft.Insights/diagnosticSettings/logs.enabled\",\r\n                    \"equals\": \"true\"\r\n                  }\r\n                ]\r\n              }\r\n            ]\r\n          }\r\n        }\r\n      }\r\n    }\r\n  },\r\n  \"id\": \"/providers/Microsoft.Authorization/policyDefinitions/383856f8-de7f-44a2-81fc-e5135b5c2aa4\",\r\n  \"type\": \"Microsoft.Authorization/policyDefinitions\",\r\n  \"name\": \"383856f8-de7f-44a2-81fc-e5135b5c2aa4\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/providers/Microsoft.Authorization/policyDefinitions/26ee67a2-f81a-4ba8-b9ce-8550bd5ee1a7?api-version=2018-05-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-tenant-reads": [
          "11963"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"displayName\": \"Audit configuration of metric alert rules on Batch accounts\",\r\n    \"policyType\": \"BuiltIn\",\r\n    \"mode\": \"Indexed\",\r\n    \"description\": \"Audit configuration of metric alert rules on Batch account to enable the required metric\",\r\n    \"metadata\": {\r\n      \"category\": \"Batch\"\r\n    },\r\n    \"parameters\": {\r\n      \"effect\": {\r\n        \"type\": \"String\",\r\n        \"metadata\": {\r\n          \"displayName\": \"Effect\",\r\n          \"description\": \"Enable or disable the execution of the policy\"\r\n        },\r\n        \"allowedValues\": [\r\n          \"AuditIfNotExists\",\r\n          \"Disabled\"\r\n        ],\r\n        \"defaultValue\": \"AuditIfNotExists\"\r\n      },\r\n      \"metricName\": {\r\n        \"type\": \"String\",\r\n        \"metadata\": {\r\n          \"displayName\": \"Metric name\",\r\n          \"description\": \"The metric name that an alert rule must be enabled on\"\r\n        }\r\n      }\r\n    },\r\n    \"policyRule\": {\r\n      \"if\": {\r\n        \"field\": \"type\",\r\n        \"equals\": \"Microsoft.Batch/batchAccounts\"\r\n      },\r\n      \"then\": {\r\n        \"effect\": \"[parameters('effect')]\",\r\n        \"details\": {\r\n          \"type\": \"Microsoft.Insights/alertRules\",\r\n          \"existenceScope\": \"Subscription\",\r\n          \"existenceCondition\": {\r\n            \"allOf\": [\r\n              {\r\n                \"field\": \"Microsoft.Insights/alertRules/isEnabled\",\r\n                \"equals\": \"true\"\r\n              },\r\n              {\r\n                \"field\": \"Microsoft.Insights/alertRules/condition.dataSource.metricName\",\r\n                \"equals\": \"[parameters('metricName')]\"\r\n              },\r\n              {\r\n                \"field\": \"Microsoft.Insights/alertRules/condition.dataSource.resourceUri\",\r\n                \"equals\": \"[concat('/subscriptions/', subscription().subscriptionId, '/resourcegroups/', resourceGroup().name, '/providers/Microsoft.Batch/batchAccounts/', field('name'))]\"\r\n              }\r\n            ]\r\n          }\r\n        }\r\n      }\r\n    }\r\n  },\r\n  \"id\": \"/providers/Microsoft.Authorization/policyDefinitions/26ee67a2-f81a-4ba8-b9ce-8550bd5ee1a7\",\r\n  \"type\": \"Microsoft.Authorization/policyDefinitions\",\r\n  \"name\": \"26ee67a2-f81a-4ba8-b9ce-8550bd5ee1a7\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/providers/Microsoft.Authorization/policyDefinitions/17k78e20-9358-41c9-923c-fb736d382a12?api-version=2018-05-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-tenant-reads": [
          "11959"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"displayName\": [...]
[...]
    {
      "RequestUri": "/providers/Microsoft.Authorization/policyDefinitions/a6fb4358-5bf4-4ad7-ba82-2cd2f41ce5e9?api-version=2018-05-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-tenant-reads": [
          "11958"
[...]
