{
  "Entries": [
    {
      "RequestUri": "/providers/Microsoft.Authorization/policyDefinitions?api-version=2018-05-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-tenant-reads": [
          "11993"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"properties\": {\r\n        \"displayName\": \"Audit virtual machines without disaster recovery configured\",\r\n        \"policyType\": \"BuiltIn\",\r\n        \"mode\": \"All\",\r\n        \"description\": \"Audit virtual machines which do not have disaster recovery configured. To learn more about disaster recovery, visit https://aka.ms/asr-doc.\",\r\n        \"metadata\": {\r\n          \"category\": \"Compute\"\r\n        },\r\n        \"parameters\": {},\r\n        \"policyRule\": {\r\n          \"if\": {\r\n            \"field\": \"type\",\r\n            \"in\": [\r\n              \"Microsoft.Compute/virtualMachines\",\r\n              \"Microsoft.ClassicCompute/virtualMachines\"\r\n            ]\r\n          },\r\n          \"then\": {\r\n            \"effect\": \"auditIfNotExists\",\r\n            \"details\": {\r\n              \"type\": \"Microsoft.Resources/links\",\r\n              \"existenceCondition\": {\r\n                \"field\": \"name\",\r\n                \"like\": \"ASR-Protect-*\"\r\n              }\r\n            }\r\n          }\r\n        }\r\n      },\r\n      \"id\": \"/providers/Microsoft.Authorization/policyDefinitions/0015ea4d-51ff-4ce3-8d8c-f3f8f0179a56\",\r\n      \"type\": \"Microsoft.Authorization/policyDefinitions\",\r\n      \"name\": \"0015ea4d-51ff-4ce3-8d8c-f3f8f0179a56\"\r\n    },\r\n    {\r\n      \"properties\": {\r\n        \"displayName\": \"[Deprecated]: Audit Web Sockets state for a Function App\",\r\n        \"policyType\": \"BuiltIn\",\r\n        \"mode\": \"All\",\r\n        \"description\": \"The Web Sockets protocol is vulnerable to different types of security threats. Use of Web Sockets within an Function app must be carefully reviewed.\",\r\n        \"metadata\": {\r\n          \"category\": \"Security Center\",\r\n          \"preview\": true,\r\n          \"deprecated\": true\r\n        },\r\n        \"parameters\": {\r\n          \"effect\": {\r\n            \"type\": \"String\",\r\n            \"metadata\": {\r\n              \"displayName\": \"Effect\",\r\n              \"description\": \"Enable or disable the execution of the policy\"\r\n            },\r\n            \"allowedValues\": [\r\n              \"AuditIfNotExists\",\r\n              \"Disabled\"\r\n            ],\r\n            \"defaultValue\": \"AuditIfNotExists\"\r\n          }\r\n        },\r\n        \"policyRule\": {\r\n          \"if\": {\r\n            \"allOf\": [\r\n              {\r\n                \"field\": \"type\",\r\n                \"equals\": \"microsoft.Web/sites\"\r\n              },\r\n              {\r\n                \"anyOf\": [\r\n                  {\r\n                    \"field\": \"kind\",\r\n                    \"equals\": \"functionapp\"\r\n                  },\r\n                  {\r\n                    \"field\": \"kind\",\r\n                    \"equals\": \"functionapp,linux\"\r\n                  },\r\n                  {\r\n                    \"field\": \"kind\",\r\n                    \"equals\": \"functionapp,linux,container\"\r\n                  }\r\n                ]\r\n              }\r\n       [...]
[...]
